
/* 5ad4e0 94e249 003c33 e44401 d8af02 04969d */
header {
  background-color: #04969d;
}

button {
  background-color: #94e249;
}

button a {
  font-weight: bold;
  text-decoration: none;
}

.content {
  grid-column: 2/3;
  grid-row: 1;
}

.ld4_lime {
  color: #94e249;
}

.ld4_lime_bk {
  background-color: #94e249;
}

.ld4_dark_green {
  color: #003c33;
}



.page-title {
  color: #e44401;
  text-shadow: -1px 0 #d8af02, 0 1px #d8af02, 1px 0 #d8af02, 0 -1px #d8af02;
}
.pres-nav {
  grid-column: 1/3;
  grid-row: 1;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
}
